<!DOCTYPE html>
<!-- https://www.youtube.com/watch?v=8OIXrc-a2vU&list=PLSuKjujFoGJ1Kr_e1GT2nREnzXCXgoVm3&index=8 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selectbox from api</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>


</head>


<body>
    <div id="aplicacion">
        <select>
            <option v-for="canal in canales">{{ canal.nombre }}</option>
        </select>

        <select>
            <option v-for="item in info">{{ item.OperationNumber }}</option>
        </select>

        <!-- <p v-for="item in info">{{ item.OperationNumber }}</p> -->
        <!-- <p>{{ info.OrderNumber }}</p> --> 

    </div>
</body>


<script type="text/javascript">


    new Vue({
        el: "#aplicacion",
        data: {
            canales: [
                { nombre: "A", apellido: "1", url: "www.google.es" },
                { nombre: "B", apellido: "2", url: "www.marca.es" },
                { nombre: "C", apellido: "3", url: "www.elconfidencial.es" }
            ],
            info: [],
            salida: "",
        },
        mounted() {
            const URL = `http://scorpio.sev.alestis:8800/sap_kong/sap/opu/odata/SAP/ZGW_POLARIS_V2_SRV/zOpeSet?$filter=Number eq '001001479491' and PiOperation eq 'X' and PiHeader eq 'X'&$format=json`

             axios.get(URL, {
                headers: {
                    'Content-Type': 'application/json'
                }}).then(respuesta=>this.info = respuesta.data.d.results)

        },
    })

</script>

</body>