<!DOCTYPE html>
<!-- https://www.youtube.com/watch?v=eNpO2AXHPTw&list=PLSuKjujFoGJ1Kr_e1GT2nREnzXCXgoVm3&index=7 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eEvento on-click</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <div id="aplicacion">
        <ul>
            <li v-for="n in 10">
               {{ n }}
            </li>
        </ul>


        <ul>
            <li v-for="item in items">
                <button v-on:click="mostrarvalor">{{ item }}</button>
            </li>
        </ul>

        <h1>{{ salida }}</h1>

    </div>
</head>

<body>

    <script>

        new Vue({
            el: "#aplicacion",
            data: {
                items: ["Naruto", "Hola", "C", "D"],
                salida: ""
            },
            methods: {
                mostrarvalor: function (event) {
                    if (event) {
                        this.salida = event.target.innerText
                    }
                }
            }
        })

    </script>


</body>

</html>